body {
  background: whitesmoke;
  width: 62rem;
  margin: auto;

  font-family: "Merriweather";
}

button {
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;

  font-weight: bold;
}

header {
  height: 35rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.bluebox {
  background: lightblue;

  grid-area: span 2 / 1;

  display: flex;
  flex-direction: column;
}

.bluebox-h1 {
  padding: 5rem 5rem 0rem 5rem;
  font-size: 200%;
}

.bluebox-text {
  padding: 1rem 5rem 2rem 5rem;
  line-height: 1.5rem;
}

.bluebox button {
  margin-left: 5rem;
}

.bluebox img {
  height: 15rem;
  width: 15rem;
  margin-left: 14rem;
}

.redbox {
  background: darkorange;

  display: flex;
  justify-content: center;
  align-items: center;
}

.orangebox {
  background: gold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  height: 5rem;
  background: whitesmoke;

  display: flex;
  align-items: center;
}

.main-nav-list {
  width: 100%;
  padding: 0rem 11rem 0rem 11rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  list-style: none;
}

.main-nav-list a {
  color: grey;

  text-decoration: none;
}

.main-nav-list a:hover {
  color: black;
}

/* NEDAN: 'YOUR PERSONAL FINANCIAL'-delen */

section {
  height: 40rem;

  display: flex;
}

.container-left {
  width: 50%;
  height: 100%;
  background: darkgray;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-left-h1 {
  color: whitesmoke;
  font-size: 180%;
  margin: 5rem 5rem 3rem 7rem;
}

.container-left button {
  margin-left: 7rem;
}

.container-right {
  width: 50%;
  height: 100%;
  background: darkgray;

  display: flex;
  justify-content: center;
  align-items: center;

  color: grey;
}

.container-right-text {
  padding: 5rem;

  font-size: 80%;
  line-height: 1.5rem;
}

/* NEDAN: 'ABOUT US'-delen */

article {
  height: 40rem;
  background: orange;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus-h1 {
  font-size: 290%;
  color: whitesmoke;
  padding: 2rem;
}

.aboutus-text {
  color: gray;
  padding: 0rem 15rem 0rem 15rem;
  text-align: center;

  font-size: 90%;
  line-height: 1.5rem;
}

/* NEDAN: 'HOW IT WORKS'-delen */

.main-howitworks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  height: 40rem;

  color: grey;
  font-size: 120%;
}

.box00 {
  background: lightblue;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 220%;
  color: black;
}

.box01 {
  background: #eee;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  text-align: center;
}

.box02 {
  background: lightgrey;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  text-align: center;
}

.box03 {
  background: #eee;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  text-align: center;
}

.box04 {
  background: darkorange;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  text-align: center;
}

.box05 {
  background: #eee;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;

  background: grey;
  color: darkgrey;
}
