/* -------BAS-STYLING------- */

* {
  box-sizing: border-box; /* Gör att alla elements eventuella padding+margins */
} /** inkluderas i totala width och heighten man vill åt */

body {
  background: whitesmoke;
  width: 62rem;
  margin: auto;
}

h1 {
  font-family: "Vesper Libre", serif;
  font-style: bold;
  font-size: 40px;

  line-height: 1;

  margin: 0;
}

h2 {
  font-family: "Vesper Libre", serif;
  font-style: bold;
  font-size: 34px;

  color: whitesmoke;

  padding: 0;
  margin: 0;
}

h4 {
  /* Sifforna i gridboxarna längst ner*/
  font-family: "Vesper Libre", serif;
  font-size: 36px;

  color: darkgrey;

  margin: 1 0 0 1;
}

p {
  color: dimgray;

  font-family: "Fira Sans", sans-serif;
  font-weight: 450;
  font-size: 14px;

  line-height: 1.5rem;

  padding: 0;
  margin: 0;
}

button {
  width: 130px;
  border-radius: 17px;

  box-shadow: 1.3px 1.3px grey;

  padding: 10px;

  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;

  margin-top: 40px;
}

button:hover {
  background: gainsboro;
}

a {
  color: grey;
  text-decoration: none;
}

/* ------HÄR BÖRJAR LAYOUTEN FÖR HEADERN------- */

header {
  height: 550px;

  display: grid;
  grid-template-columns: 1fr 1fr; /* fyra grids totalt */
  grid-template-rows: 1fr 1fr;
}

.bluebox {
  background: lightblue;

  grid-area: span 2 / 1;

  background-image: url(../images/family.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right bottom;

  padding: 20% 25% 0% 20%;

  display: flex;
  flex-direction: column;
}

.orangebox {
  background: darkorange;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yellowbox {
  background: gold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------STYLING FÖR NAV-BOXEN------ */

nav {
  background: whitesmoke;
  height: 5rem;

  font-family: "Fira Sans", sans-serif;
  font-weight: 450;
  font-size: 14px;

  display: flex;
  align-items: center;
}

.nav-list {
  width: 100%;
  padding: 0rem 11rem 0rem 11rem;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-list a:hover {
  color: black;
}

/* -----STYLING FÖR 'YOUR PERSONAL FINANCIAL'-delen----- */

section {
  background: darkgray;
  height: 35rem;

  display: flex; /* så de två containrarna i 'section' hamnar i row */
}

section h1 {
  color: whitesmoke;
}

.container-left {
  width: 50%;

  padding: 10% 5% 0% 10%;

  display: flex;
  flex-direction: column;
}

.container-right {
  width: 50%;

  padding: 10% 15% 0% 5%;
}

/* ------STYLING FÖR 'ABOUT US'-delen------ */

article {
  background: orange;
  height: 40rem;

  text-align: center;
}

article h1 {
  color: whitesmoke;
  margin: -5%;
}

.textbox {
  padding: 7% 25% 0% 25%;
}

.textbox p {
  margin: 1%;
}

/* -----DE TRE BOXARNA PÅ MITTEN----- */

.tripplebox {
  /* OBS: barn till 'article' */
  width: 75%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;

  text-align: center;

  position: relative; /* flyttas upp ur 'article' */
  top: -125px;
  z-index: 1; /* ett lager över allt annat, 3D */
}

.tripplebox img {
  height: 250px;
}

.tripplebox p {
  max-width: 100%;
  font-size: 8px;

  line-height: 18px;

  padding: 0% 7% 10% 7%;
  margin: 0;
}

.box1 {
  background: #eee;
  width: 200px;
  height: 250px;
  border-radius: 5px;

  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
}

.imgbox1 {
  background: lightblue;
  width: 90%;

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  position: relative;
  top: -15px;
  z-index: 3;

  margin: auto;

  overflow: hidden;
}

.box2 {
  background: #eee;
  width: 200px;
  height: 250px;
  border-radius: 5px;

  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
}

.imgbox2 {
  background: orange;
  width: 90%;

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  position: relative;
  top: -15px;
  z-index: 3;

  margin: auto;

  overflow: hidden;
}

.box3 {
  background: #eee;
  width: 200px;
  height: 250px;
  border-radius: 5px;

  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
}

.imgbox3 {
  background: darkorange;
  width: 90%;

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  position: relative;
  top: -15px;
  z-index: 3;

  margin: auto;

  overflow: hidden;
}

/* ------'HOW IT WORKS'/GRIDBOX-delen------ */

main {
  height: 40rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.box00 {
  background: lightblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box01 {
  background: #eee;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box02 {
  background: lightgrey;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box03 {
  background: #eee;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box04 {
  background: darkorange;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box05 {
  background: #eee;

  display: flex;
  justify-content: center;
  align-items: center;
}

main h4 {
  /* siffrorna i rutorna */
  align-self: flex-start;
  justify-self: flex-start;

  margin: 5px 0 0 20px;
  padding: 0;
}

main p {
  /* brödtexten i rutorna */
  margin: auto;
  padding: 0 25% 0 0;

  text-align: center;
}

/* -------STYLING FÖR FOOTER------- */

footer {
  background: darkgrey;
  height: 70px;

  color: dimgrey; /* för pilens färg, texten är redan p */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

footer:hover {
  background: gainsboro;

  animation: bounce 1s;
}
